// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$green-principal: #2B6D14;
$green-secondary: #DFF2C6;

$dark-gray: #212121;
$medium-gray: #5E5E5E;
$light-gray: #A1A1A1;
$lightest-gray: #EDEDED;
