<div class="profile-banner d-flex align-items-center" id="user-profile">
  <div class="container d-flex align-items-center">
    <%= cl_image_tag(@medication.remote_photo_url) %>
    <div class="profile-content d-flex flex-column align-items-center">
      <p>Name: <%= @medication.local_name %></p>
      <p>Category: <%= @medication.category %></p>


      <a href="javascript:history.go(-1)" title="Return to the previous page">&laquo; Go back</a>


    </div>
  </div>
</div>
