
.header-comparison{
  text-align: center;
  font-family: $accent-font;
  color: $light-gray;
  margin-bottom: 20px;
  margin-top: 20px;

}

// modal settigns
.modal-footer{
  border-top: none;
}


.modal i {
 color: #DDEACE;
 font-size: 24px;
 top: 10px;
 position: absolute;
 right: 12px;
}

.mf-modal-content {
  margin-top: 88px;
  height: 75vh;
}


.mf-modal-description {
  margin-top: 30px;
}


.arrow-class {
  position: relative;
  text-align: center;

  i {
    text-align: center;
    font-size: 65px;
    color: $green-secondary;
  }
}

.nav-pills .nav-link{
  font-family: "Poppins", "sans-serif";
  font-weight: 300;
  font-size: .8rem;
}
.nav-pills .nav-link.active{
  background-color: $green-secondary;
  border-radius: 155px;
  color: #2B6D14;
  font-family: "Poppins", "sans-serif";
  font-weight: 300;
  font-size: .8rem;
}
