<div class="map-marker">
  <h2><strong><%= name %></strong></h2>
  <p><strong>address:</strong> <%= address %></p>
  <p><strong></strong>
    <% if opening_hours %>
      open
    <% else %>
      close
    <% end  %>
    </p>
  <p><strong>rating:</strong> <%= rating %></p>
  <p><strong>number of ratings:</strong> <%= user_rating %></p>
</div>
