<div class="map-marker">
  <h2><strong><%= name %></strong></h2>
  <p><strong>address:</strong> <%= address %></p>
  <p>
    <% if opening_hours %>
      <span class="map-marker-open">open</span>
    <% else %>
      <span class="map-marker-close">close</span>
    <% end  %>
  </p>
  <% if user_rating > 0 %>
    <p><strong>rating:</strong> <%= rating %> (<%= user_rating %>)</p>
  <% end  %>
</div>
