<%= render "shared/progressbar" %>
<div class="container d-flex flex-column justify-content-center align-items-center fullheight with-progressbar">

  <div>
    <h2 class="search-title">what medication are you searching for?</h2>
  </div>

  <%= form_tag medications_path, method: :get, remote: true, class:"w-100 text-center" do |f| %>
      <input placeholder="name or active ingredient" class="string required" type="text" autocomplete="off" name="query" id="search-query"/>

      <%= submit_tag "search" , class:"mf-button", disabled: true, id: "search-country-btn" %>
  <% end %>

</div>
<!-- medication_comparisons_path(medication_id -->


<script>
  const btn = document.getElementById("search-country-btn");
  const searchInput = document.getElementById("search-query");
  searchInput.addEventListener("input", (event) => {
      if (event.target.value.length >= 2) {
        btn.disabled = false;
      } else {
        btn.disabled = true;
      }
  })

</script>
