<% if params[:controller] == "medications" && params[:action] == "index" %>
<div class="mf-footer">
  <p class="mf-footer-title"> created with ♡ by the best team </p>
</div>

<% elsif params[:controller] == "comparisons" && params[:action] == "index"%>
<div class="mf-footer">
  <p class="mf-footer-title"> created with ♡ by the best team </p>
</div>

<% else %>

<div class="mf-footer footer-fixed">
  <p class="mf-footer-title"> created with ♡ by the best team </p>
</div>

<% end %>
