
<div>
  <div class=mf-navbar>
  <a href="/">
    <%= image_tag "logoplaceholder.png" %>
  </a>
  </div>
</div>

<div>
  <p>progress bar</p>
</div>

<h1>Titre1</h1>

<h2>Titre2</h2>

<h3>Titre3</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis neque, cumque, accusamus possimus quod numquam impedit laboriosam sit deleniti maxime quibusdam minima eum perferendis officiis unde aspernatur sint enim?</p>

<form>
  <input type="text" placeholder="placeholder">
  <select name="" id="">
    <option value="country">france</option>
    <option value="country">russia</option>
  </select>
</form>


<div>
    <a href="#" class="mf-button">search</a>
</div>

<div>
  <p>regular-card</p>
  <div class="mf-regular-card">
    <img src="https://source.unsplash.com/random" alt="">
    <div class="regular-card-footer">
      <h6>Titre6</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat accusantium qui unde id nesciunt enim sit commodi iure, eveniet ipsam molestiae animi, saepe sed officia architecto fugit necessitatibus! Eligendi, eum.</p>
    </div>
  </div>
</div>


<div>
  <p>medium-card</p>
  <div class="mf-medium-card">
    <img src="https://source.unsplash.com/random" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum error quam, quis repellendus et eius quos hic beatae incidunt accusamus atque alias sint cum officia aliquid velit enim odio veniam.</p>
  </div>
</div>


<div>
  <p>big-card</p>
  <div class="mf-big-card">
    <img src="https://source.unsplash.com/random" alt="">
    <div class=big-card-description>
      <h6>Title6</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum error quam, quis repellendus et eius quos hic beatae incidunt accusamus atque alias sint cum officia aliquid velit enim odio veniam.</p>
    </div>
      <div>
        <a href="#" class="mf-button">search</a>
      </div>
  </div>
</div>






