

<div>
  <div class=mf-navbar>
  <a href="/">
    <%= image_tag "logoplaceholder.png" %>
  </a>
  </div>
</div>

<div>
  <p>progress bar</p>
</div>

<div class="container">



<h1>Titre1</h1>

<h2>Titre2</h2>

<h3>Titre3</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis neque, cumque, accusamus possimus quod numquam impedit laboriosam sit deleniti maxime quibusdam minima eum perferendis officiis unde aspernatur sint enim?</p>

<form>
  <%= country_select(nil, "country", { include_blank: 'Select a country' }, {class: "country-selection"}) %>
</form>


<div id="btn-styles">
  <a href="#" class="mf-button">search</a>
</div>

<div>
  <p>regular-card</p>
  <div class="mf-regular-card">
    <img src="https://source.unsplash.com/random" alt="">
    <div class="regular-card-footer">
      <h6>Title6</h6>
      <p>Description</p>
    </div>
  </div>
</div>


<div>
  <p>medium-card</p>
  <div class="mf-medium-card">
    <img src="https://source.unsplash.com/random" alt="">
    <div class=medium-card-description>
    <p>Name</p>
    <p>Active Ingredients</p>
    <p>Category</p>
    </div>
  </div>
</div>


<div>
  <p>big-card</p>
  <div class="mf-big-card">
    <img src="https://source.unsplash.com/random" alt="">
    <div class=big-card-description>
      <h6>Title6</h6>
      <p>Name</p>
      <p>Activ Ingredient</p>
      <p>Description</p>
    </div>
      <div>
        <a href="#" class="mf-button">search</a>
      </div>
  </div>
</div>

</div>






