

// #btn-styles {
//   margin: 30px auto;
//   width: 80%;
// }

.mf-button {
  width: 100%;
  display: block;
// height: 40px;
background: $green-principal;
color:white;
padding:10px;
margin:16px auto;
text-align:center;
}

#country_input {
  display: none;
}
