

// #btn-styles {
//   margin: 30px auto;
//   width: 80%;
// }

.mf-button {
  width: 100%;
  display: block;
// height: 40px;
background: $green-principal;
color:white;
padding:10px;
margin:16px auto;
text-align:center;
}

.hidden {
  display:none;
}

#country_input {
  display: none;
}

.mf-button-secondary {
width: 90%;
display: block;
border: 3px solid $green-principal;
color: $green-principal;
padding:10px;
margin:16px auto;
text-align:center;
font-size: 25px;
&:hover {
    text-decoration: none;
    color: $green-principal;
  }
}
