

// #btn-styles {
//   margin: 30px auto;
//   width: 80%;
// }

.mf-button {
  width: 100%;
  display: block;
  background: #DDEACE;
  color: #2B6D14;
  padding: 10px;
  margin: 16px auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  opacity: 0.6;
}

.mf-button:hover {
  background: #2B6D14;
  color: #DDEACE;
  opacity: 0.6;
  transition: 0.3s;
}

.mf-button-delete {
width: 10%;
  display: block;
// height: 40px;
background: $green-principal;
color:white;
padding:10px;
margin:16px auto;
text-align:center;
}

.hidden {
  display:none;
}

#country_input {
  display: none;
}

.mf-button-secondary {
width: 90%;
display: block;
border: 3px solid $green-principal;
color: $green-principal;
padding:10px;
margin:16px auto;
text-align:center;
font-size: 25px;
&:hover {
    text-decoration: none;
    color: $green-principal;
  }
}
