
#carousel{
  height: 250px;
  display: block!important;
}

.carousel-medium-card {
}


.carousel-medium-card-description{
  margin-bottom: 0px;
  font-family: "body-font";
  font-size: 12px;
  text-align:center;
}


button.slick-prev.slick-arrow, .slick-next.slick-arrow{
  position:absolute;
  margin-bottom: 0px;
  font-family: "body-font";
  font-size: 12px;
}


.carousel-img{
  width:90%;
  height:auto;
}


#carousel > div {
  height:250px;
}
