.fullheight {
  min-height: calc(100vh - 86px);

  &.with-progressbar {
    min-height: calc(100vh - 134px);
  }

}

.espacement-div{
margin-bottom:80px;
}

.w-100.text-center {
margin-top: 30px;
}


