.container-dashboard {
  // 111px because header + footer + margin-top of h1
  min-height: calc(100vh - 111px) !important;
  .mf-medium-card {
    height: 300px;
    margin-bottom: 10px;
  }

 .title-dashboard {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $light-gray;
  margin-top:15px;
  font-weight:600;
  font-size: 1rem;
  text-align:left;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: $accent-font;
 }

 .mf-button {
  display: inline-block;;
 }

}

// .fa-trash-alt {
//   position: relative;
//   top: 49px;
//   left: -11px;
// }

#favourites-tabs {
  display: flex;
}


.mf-medium-card-test {
  padding: 8px;
  align-items:center;
  display:flex;
  height: 200px;
  box-shadow: 0 5px 9px rgba(0,0,0,.08);
  border: 1px solid #deeecb;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
  img {
    width: 40%;
    height:60%;
    flex-grow:0;
    object-fit:cover;
  }

  a {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

  .fa-trash-alt  {
    // position: relative;
  color: $green-secondary;
  //   top: 0;
  //   left: 0;
  }
}


.dashboard-pills {
  margin-bottom: 0;
  padding-bottom: 0;
}

// .favourite-card .fa-trash-alt {
//   bottom: 3px;
//   right: 3px;
// }



