.mf-footer {
  height:36px;
  bottom: 0px;
  color: $green-secondary;
  box-shadow: 0px 3px 7px rgba(118,118,118,0.3);

    &-title {
      left: 25.6%;
      right: 22.67%;
      top: 0%;
      bottom: 0%;

      font-family: $body-font;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      display: flex;
      align-items: center;
      text-align: justify;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      color: $green-principal;

    }
}


