
select,
#search-query {
  display:block;
  width:100%;
  margin:auto;
  height: 40px;
  background-color: $lightest-gray;
  color:$light-gray;
  text-align-last:center;

  &:focus {
    outline: -webkit-focus-ring-color auto 3px;
    outline-color: #343a40;
  }
}


form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form > span {
  width:100%!important;
}


.select2-search__field {
   &:focus {
    outline: -webkit-focus-ring-color auto 3px;
    outline-color: #343a40;
  }
}


.select2-selection.select2-selection--single {
   &:focus {
    outline: -webkit-focus-ring-color auto 3px;
    outline-color: #343a40;
  }
}
