.mf-medium-card {
  align-items:center;
  display:flex;
  height:140px;
  box-shadow: 0 5px 9px rgba(0,0,0,.08);
  border: 1px solid #deeecb;
  background: #fff;
  border-radius: 3px;
  img {
    width: 40%;
    height:60%;
    flex-grow:0;
  object-fit:cover;
  }
}

#pills-tabContent{
  padding: 10px;
}

.medium-card-description
{
padding:30px;
p{
  margin-bottom: .7rem;
  font-weight:300;
  font-size: .7rem;
}
h5{
margin-top:15px;
font-weight:600;
font-size: 1rem;
}
h6{
  font-weight:400;
  font-size: .7rem;
}
}

.medium-card-country-info {
  align-items:center;
  display:flex;
  box-shadow: 0 5px 9px rgba(0,0,0,.08);
  padding: 0 20px ;
  border: 1px solid #deeecb;
  background: #fff;
  border-radius: 3px;
  img {
  width: 40%;
  max-height: 100%;
  flex-grow:0;
  object-fit:cover;
  }
}


.carousel-medium-card {
  .card-icons {
    position: initial;
    bottom: initial;
    right: initial;
  }
}


