.mf-medium-card {
  align-items:center;
display:flex;
height:140px;
box-shadow: 0px 3px 7px rgba(118,118,118,0.3);
img {
width: 40%;
height:100%;
flex-grow:0;
object-fit:cover;
}
}

.medium-card-description
{
padding:30px;
p{
  margin-bottom: 0px;
  font-size: 12px;
}
}

.medium-card-country-info {
  // font-family: "body-font";
  // font-size: 12px;
    align-items:center;
  display:flex;
  // height:140px;
  box-shadow: 0px 3px 7px rgba(118,118,118,0.3);
  img {
  width: 40%;
  max-height: 100%;
  flex-grow:0;
  object-fit:cover;
  }


}
