.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.mf-navbar {
// position: absolute;
width: 276px;
height: 40px;
left: 50px;
top: 318px;
}

