.mf-navbar {
  height:46px;
  width: 100%;
  padding:5px;
  background:white;
  justify-content: space-between;
}

.logo-large {
  width: 23px;
  margin-left: 0px;
  margin-top:7px;
  margin-bottom:3px;
}

.logo-large:hover {

}

.title-navbar {
  display:inline;
  padding-left: 6px;
  vertical-align: bottom;
  font-weight: 600;
  text-transform: uppercase;
  color: $green-principal!important;
}

.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(white, transparent);
}

.box-shadow{
  box-shadow: 0px 1px 3px rgba(118,118,118,0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-nav .dropdown-menu {
  position: relative;
}

.nav-item {
  color: $light-gray;
  padding-top: 0.8em;
  padding-right: 0.8em;
}

.no-border-focus {
   //outline: -webkit-focus-ring-color auto 3px;
 outline: none;
 outline-style: none;
 box-shadow: none;
 border-color: transparent;

  i:focus {
   outline: none;
   outline-style: none;
   box-shadow: none;
   border-color: transparent;

    border: none;
  }
  &:focus {
    border: none;
   outline: none;
   outline-style: none;
   box-shadow: none;
   border-color: transparent;

  }
}

.mf-navbar-brand {
  color: $green-principal;

}
