.mf-navbar {
  height:46px;
  width: 100%;
  padding:5px;
  background:white;
  box-shadow: 0px 3px 7px rgba(118,118,118,0.3);
  justify-content: space-between;
}

.logo-large {
  width: 23px;
  margin-left: 0px;
  margin-top:7px;
}

.logo-large:hover {

}

.title-navbar {
  display:inline;
  padding-left: 6px;
  vertical-align: bottom;
  font-weight: 800;
  text-transform: uppercase;
  color: $light-gray;
}

.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(white, transparent);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-nav .dropdown-menu {
  position: relative;
}

.nav-item {
  color: $light-gray;
  padding-top: 0.8em;
  padding-right: 0.8em;
}
