.mf-progress-bar-on {
  color: $green-principal;
}

.mf-progress-bar-off {
  color: $green-secondary;
}

.progress-container {
  display: flex;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

.prog-line {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}

.progress-step {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $accent-font;
  font-size: 2.5vw;
}

.progress-step p {
  text-align: center;
}

.circle-fill {
  width: 2.4em;
  height: 2.4em;
  margin-bottom: 1em;
  border-radius: 50%;
  background: $green-secondary;
  z-index: 10;
}

.progress-active .circle-fill {
  background: $green-principal;
}

.prog-column {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.background-line {
  position: absolute;
  width: 100vw;
  top: 10px;
  height: 2px;
  background-color: $light-gray;
  // z-index: 1;
}
.progress-bar-filled {
  position: absolute;
  width: 1vw;
  left: -20px;
  top: 10px;
  height: 2px;
  background-color: $green-principal;
  z-index: 2;
}


