.mf-progress-bar-on {
  color: $green-principal;
}

.mf-progress-bar-off {
  color: $green-secondary;
}

.progress-container {
  display: flex;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

.prog-line {
  position: relative;
  display: flex;
  width: 100;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}

.progress-step {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $accent-font;
  font-size: 2.5vw;
}

.progress-step p {
  text-align: center;
  color: $medium-gray;
}

.circle-fill {
  width: 6vw;
  height: 6vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
  border-radius: 50%;
  background: $green-secondary;
  z-index: 10;
}

.progress-active .circle-fill {
  background: $green-principal;
}

.prog-column {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.background-line {
  position: absolute;
  width: 100vw;
  top: 6vw;
  height: 2px;
  background-color: $light-gray;
  // z-index: 1;
}

.progress-bar-filled {
  position: absolute;
  width: 1vw;
  left: -20px;
  top: 6vw;
  max-width: calc(100vw + 20px) !important;
  height: 2px;
  background-color: $green-principal;
  z-index: 2;
}

@media (min-width: 720px) {
  .progress-step {
    font-size: 16px;
  }

  .progress-step p {
    color: $medium-gray;
    margin-bottom: 4vw;
  }

  .circle-fill {
  width: 3.5vw;
  height: 3.5vw;
  margin-bottom: 8px;
  border-radius: 50%;
  background: $green-secondary;
  z-index: 10;
  }

  .background-line {
    position: absolute;
    height: 0.3vw;
    top: 4.7vw;
  }

  .progress-bar-filled {
    position: absolute;
    // margin-left: -12px;
    top: 4.7vw;
    height: 0.3vw;
    background-color: $green-principal;
  }
}

@media (min-width: 960px) {
  .progress-step {
    margin-bottom: 2vh;
  }

  .progress-step p {
    color: $light-gray;
    font-size: 1.5vw;
  }

  .circle-fill {
    width: 3.5vw;
    height: 3.5vw;
    margin-bottom: 2.0vh;
    margin-top: 2.2vh;
    border-radius: 50%;
    background: $green-secondary;
    z-index: 10;
  }

  .background-line {
    position: absolute;
    height: 0.5vh;
    top: 2.6vw;
    max-width: 100vw;
  }

  .progress-bar-filled {
    position: absolute;
    margin-left: 0;
    max-width: calc(100vw + 120px) !important;
    top: 2.6vw;
    height: 0.5vh;
    background-color: $green-principal;
  }
}


