.form-tag {
  width:100%;
}

.select2-selection--single {
  border: none !important;
  background: $lightest-gray !important;
  display: flex !important;
  height: 60px !important;
  align-items: center !important;
  justify-content: center;
  padding: 0 !important;
  text-transform: uppercase !important;
  letter-spacing: 3px !important;
  &:visited {
    outline-color: white !important;
    outline-offset: 0px !important;
    outline: none !important;
    background: $green-secondary !important;
    border: 4px solid red !important;
  }
  &:focus {
    outline-color: white !important;
    outline-offset: 0px !important;
    outline: none !important;
    background: $green-secondary !important;
    color: $green-principal !important;
  }
}
.select2-selection__rendered {
  display: block;
  padding: 0 !important;
  color: $light-gray !important;
}
.select2-selection__arrow {
  display: block;
  height: 60px !important;
  width: 15% !important;
}
// dropdown menu
.select2-results__option--highlighted {
  background: $green-secondary !important;
}

.select2-search--dropdown {
  border: 0px solid white;
}

.select2-search__dropdown,
.select2-search__field {
  border: 0px solid $green-secondary;
  box-shadow: 0;
}
.select2-search__field:focus {
  outline: $green-secondary auto 0px;
  outline-color: $green-secondary;
}

